<!-- HERO -->
<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        re.va
      </h1>
      <h2 class="subtitle">
        Doing your life shorter since 1900
      </h2>
    </div>
  </div>
</section>
<!-- END HERO -->

<section class="section">
  <!-- ORIGINAL URL -->
  <div class="container">
    <form method="POST">
      <label class="label">Original URL</label>
      <div class="field">
        <p class="control is-expanded">
          <input class="input" name="url" type="text" placeholder="Url to be shorted" value="{{{url}}}">
        </p>
      </div>
      <div class="field">
        <p class="control">
          <button type="submit" class="button is-link is-outlined is-fullwidth">
            Make it short, please
          </button>
        </p>
      </div>
      {{# if error }}
        <div class="message is-danger">
          <div class="message-body">{{error}}</div>
        </div>
      {{/if}}
    </form> <!-- container -->
  </div>
  <!-- ORIGINAL URL -->
  <hr />
  <!-- SHORTEN URL -->
  <div class="container">
      <label class="label">Shorten URL</label>
      <div class="field">
        <p class="control is-expanded">
          <input id="shorten" class="input" type="text" placeholder="Url in short" value="{{{shorten}}}" readonly>
        </p>
      </div>
      <div class="field">
        <p class="control">
          {{#if shorten }}
          <button class="button is-info is-outlined is-fullwidth copy" data-clipboard-target="#shorten" >
            Copy
          </button>
          {{else}}
          <button class="button is-info is-outlined is-fullwidth copy" data-clipboard-target="#shorten" disabled>
            Copy
          </button>
          {{/if}}
        </p>
      </div>
  </div>
  <!-- SHORTEN URL -->
</section>
